@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("./fonts/AvenirNextCyr-Regular.ttf") format('truetype');
}

body {
  margin: 0;
}

* {
  font-family: 'Avenir Next';
  box-sizing: border-box;
}

button {
  border: none;
}

/* .bulletActiveCustom {
  background-color: #754088 !important;
  width: 21px !important;
  height: 21px !important;
}

.bulletCustom {
  width: 21px !important; 
  height: 21px !important;
} */